<mat-grid-list cols="1" rowHeight="100px" class="login-container">

  <mat-grid-tile style="text-align: left">
    <div class="login-header" style="font: italic bold 30px/50px Georgia, serif;">
      Enter your user name :
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="full-width">
      <input matInput placeholder="Username" class="login-input" type="text" [(ngModel)]="username"
        (keyup)="$event.keyCode == 13 ? connect(username) : null">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button class="full-width" (click)="connect(username)">Connect</button>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="message !== undefined && message !== null">
    <span class="error-message">
      {{message}}
    </span>
  </mat-grid-tile>
</mat-grid-list>
